/** ===================
 *    VARIABLES
 *    ================= **/
/** ===================
 *    MIXINS
 *    ================= **/
/** ===================
 *    GLOBAL
 *    ================= **/   
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

main {
  width: 100%;
}

p {
  height: 50%;
}

form {
  grid-column: 3/5;
  align-self: center;
}

.navbar {
  background-color: #000 !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

/** ===================
 *    POSITIONS ITEMS
 *    ================= **/
.one {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: grey;
}

.two {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: grey;
}

.three {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: grey;
}

.four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: grey;
}

.five {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: grey;
}

.six {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: grey;
}

.seven {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: grey;
}

.eight {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: grey;
}

.nine {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: grey;
}

.ten {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: grey;
}

.eleven {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: grey;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 5%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
}

.section-carousel {
  background-color: #131a28;
}

.section-nosotros {
  background-color: #0984b1;
}

.section__content-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.section__content-nosotros .nosotros__main {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #00485b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__content-nosotros .nosotros__img {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #00485b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section__content-nosotros .nosotros__img img {
  height: 80%;
}
.section__content-nosotros .nosotros__mision {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #00485b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__content-nosotros .nosotros__vision {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #00485b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-servicios {
  background-color: #0e4965;
}

.section__content-servicios {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

.section-contacto {
  height: 85vh;
}

.section__content-contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.section-footer {
  background-color: #000;
  height: 15vh;
}

/*# sourceMappingURL=styles.css.map */
