* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", rial, Helvetica, sans-serif;
  line-height: 2;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #e87a00;
}

a {
  color: #000028;
  text-decoration: none;
  padding: 10px;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #e87a00;
}

h2, h3 {
  font-family: "Barlow Condensed", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  background-color: #000;
  height: 450px;
  margin-top: -170px;
}

.section__title {
  color: #000028;
}

.btn {
  width: 60%;
  height: 50px;
  font-size: 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}

.btn--contacto {
  background: #000028;
  color: #fff;
}

.c-white {
  color: #fff;
}

.c-orange {
  color: #e87a00;
}

.c-blue {
  color: #000028;
}

.menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  width: 50%;
  align-items: center;
}
.menu div {
  width: 33%;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.menu ul li {
  animation-name: opening-logo;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
}
.menu a {
  font-family: "barlow Condensed";
  font-style: 1.7rem;
  font-size: 2rem;
}
.menu .menu__logo img {
  animation-name: opening-logo;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
}

.menu-mobile {
  display: none;
}
.menu-mobile:hover svg {
  fill: #e87a00;
}
.menu-mobile .menu-mobile__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}
.menu-mobile .menu-mobile__header .menu-mobile__logo {
  flex-grow: 2;
  text-align: center;
}
.menu-mobile .menu-mobile__header .menu-mobile__logo img {
  width: 64px;
  animation-name: opening-logo;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
}
.menu-mobile ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.menu-mobile ul li {
  text-align: center;
}
.menu-mobile ul li a {
  padding: 10px 0;
  display: block;
}

.menu-mobile--closed {
  display: none;
}

.work__content {
  padding-top: 200px;
  transform-origin: 0 0;
  transform: skewY(-10deg);
}
.work__content .work__item {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 300px;
}
.work__content .work__item img {
  width: 100%;
  margin-top: -60px;
  transform: skewY(10deg) scale(1.2, 1.2);
  transition: all 0.075s;
}
.work__content .work__item .item--bg-hover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 150%;
  display: grid;
  position: absolute;
  z-index: 2;
  top: -25%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: skewY(10deg) scale(1.1);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.work__content .work__item .item--bg-hover .title {
  color: white;
}
.work__content .work__item .item--bg-hover .costumer {
  color: #fbc00e;
}
.work__content .work__item:hover img {
  transform: skewY(10deg) scale(1.2, 1.2);
}
.work__content .work__item:hover .item--bg-hover {
  overflow: hidden;
  opacity: 1;
}
.work__content .work__item:hover .item--bg-hover .info {
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}

.transporter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  height: 90vh;
  padding: 50px;
}
.transporter .transporter__main {
  grid-column: 1/2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 80px 0 200px 0;
}
.transporter .transporter__main h1 {
  font-size: 4.5rem;
  line-height: 1;
  color: #000028;
}
.transporter .transporter__main p {
  font-family: "barlow Condensed";
  width: 80%;
  font-size: 2.2rem;
  line-height: 1;
  text-align: center;
  line-height: 1.5;
  color: #e87a00;
}
.transporter .transporter__main button {
  margin-top: 50px;
}
.transporter .transporter__img {
  grid-column: 2/3;
  transform: skewY(-10deg);
  height: 50%;
  width: 80%;
  margin-top: 100px;
  overflow: hidden;
  border-radius: 10px;
}
.transporter .transporter__img img {
  width: 101%;
  margin-left: 40px;
  transform: skewY(10deg) scale(1.4, 1.4);
}

.about {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 150px;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact {
  background-color: #000;
  padding-top: 150px;
  color: #fff;
  transform: skewY(-10deg);
}
.contact .contact-container {
  transform: skewY(10deg);
  color: #000028;
  width: 1280px;
  margin: 0 auto;
}
.contact .contact-container h3 {
  color: #fff;
}
.contact .contact-container .contact-us h3 {
  text-align: left;
}
.contact .contact-container .emails {
  text-align: right;
}
.contact .contact-container .emails h3 {
  text-align: right;
}
.contact .contact-container .social {
  text-align: center;
}
.contact .contact-container .social path {
  fill: #e87a00;
}
.contact .contact-container .social a svg:hover {
  transform: scale(1.2);
}

@keyframes opening-logo {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(500px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    height: 0vh;
  }
  50% {
    height: 150vh;
  }
  100% {
    height: 0vh;
  }
}
@media (max-width: 1450px) {
  .grid .work__item {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 250px;
  }
}
@media (max-width: 1280px) {
  .grid .work__item {
    height: 150px;
  }

  .contact .contact-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .contact .contact-container h3 {
    text-align: center !important;
  }
  .contact .contact-container .emails {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .grid .work__item {
    height: 150px;
  }
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .menu-mobile {
    display: block;
  }

  .menu-mobile__logo img {
    margin-top: 20px;
  }

  .columns {
    flex-direction: column;
    gap: 0;
  }
  .columns div {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .menu-mobile__logo {
    padding-left: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .grid .work__item {
    height: 170px;
  }
}

/*# sourceMappingURL=styles.css.map */
