@keyframes opening-logo
      0%
            transform: scale(0)       
      100%
            transform: scale(1)

@keyframes bounce
      0%
            transform: translateY(500px)
      80%
            transform: translateY(-30px)
      100%
            transform: translateY(0)
@keyframes fade-in
      0%
            height: 0vh
      50%
            height: 150vh
      100%
            height: 0vh


@media ( max-width: 1450px )
      .transporter__img
            margin-top: 50px
      .grid
            .work__item
                  padding: 0
                  position: relative
                  overflow: hidden
                  height: 250px
@media ( max-width: 1280px )
      .grid
            .work__item
                  height: 150px
      .contact
            .contact-container
                  width: 90%
                  margin: 0 auto
                  text-align: center
                  h3
                        text-align: center !important
                  .emails
                        text-align: center
      
@media ( max-width: 900px )
      .transporter
            background: url(../img/main-2.jpg) no-repeat rgb(0,0,0,0.1)
            background-position-x: -300px
            background-size: cover
            // transform: skewY(-10deg)
            grid-template-columns: 1fr
            height: 95vh
            .transporter__main
                  transform: skewY(-10deg)
                  background-color: rgba(0,0,0,0.5)
                  height: 50%
                  margin-top: 80px
                  padding-top: 100px
                  
                  h1
                        font-size: 5rem
                        transform: skewY(10deg)
                  p
                        font-size: 3rem
                        font-weight: bolder
                        transform: skewY(10deg)
                  button
                        transform: skewY(10deg)
                        
            .transporter__img
                  display: none
      .grid
            grid-template-columns: 1fr 1fr
            .work__item
                  height: 150px
      .btn
            width: 50%
            height: 500px
            font-size: 3rem
            
            
            
@media ( max-width: 800px)
      .menu
            display: none //Para ocultar el menu principal
            
      .menu-mobile
            display: block //Para mostrar el menu mobile
            
      .menu-mobile__logo
            img
                  margin-top: 20px
      .columns
            flex-direction: column
            gap: 0
            div
                  width: 100%
                  text-align: center

@media ( max-width: 540px)
      .menu-mobile__logo
            padding-left: 30px
      .grid
            grid-template-columns: 1fr
            .work__item
                  height: 170px