@import 'global'
@import 'medias'

//SECTIONS

      
.carousel
      background-color: #131a28


// Section-nosotros
.nosotros
      background-color: #0984b1
.nosotros__content
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-row-gap: 30px
      grid-column-gap: 30px
      .quienes
            grid-column: 1/2
            grid-row: 1/2
            background-color: #00485b
            @include f-center-total(column)
      .img-nosotros
            grid-column: 2/3
            grid-row: 1/2
            background-color: #00485b
            @include f-center-total(row)
            img
                  height:80%
      .mision
            grid-column: 1/2
            grid-row: 2/3
            background-color: #00485b
            @include f-center-total(column)
      .vision
            grid-column: 2/3
            grid-row: 2/3
            background-color: #00485b
            @include f-center-total(column)



// Section-servicios
.servicios
      background-color: #0e4965
.servicios__content
      margin-top: 20px
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: repeat(4, 1fr)
      grid-gap: 5px
.servicios__item
      background-color: grey

// Section-Contacto
.contacto
      height: 85vh     
.contacto__content
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: 1fr

// Section-footer
.footer
      background-color: $color-1
      height: 15vh

      

