@import 'global'
@import 'medias'

//SECTIONS
.section
      width: 100%
      height:100vh
      padding: 5%
      text-align: center
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 10% 90%
      
// .section__title
//       grid-row: 1/2
//       grid-column: 1/3    
// .section__content 
//       height: 90%
// Section-carousel
.section-carousel
      background-color: #131a28



// Section-nosotros
.section-nosotros
      background-color: #0984b1
.section__content-nosotros
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-row-gap: 30px
      grid-column-gap: 30px
      .nosotros__main
            grid-column: 1/2
            grid-row: 1/2
            background-color: #00485b
            @include f-center-total(column)
      .nosotros__img
            grid-column: 2/3
            grid-row: 1/2
            background-color: #00485b
            @include f-center-total(row)
            img
                  height:80%
      .nosotros__mision
            grid-column: 1/2
            grid-row: 2/3
            background-color: #00485b
            @include f-center-total(column)
      .nosotros__vision
            grid-column: 2/3
            grid-row: 2/3
            background-color: #00485b
            @include f-center-total(column)



// Section-servicios
.section-servicios
      background-color: #0e4965
.section__content-servicios
      margin-top: 20px
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: repeat(4, 1fr)
      grid-gap: 5px

// Section-Contacto
.section-contacto
      height: 85vh
      
.section__content-contacto
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: 1fr

// Section-footer
.section-footer
      background-color: $color-1
      height: 15vh

      

